.hidden{
    width: 1px; height: 1px; font-size: 0px; line-height: 0px;
    position: absolute; top:0; left:0;
}
.clearFix,.clearFix::after,.clearFix::before{
    content: ""; display: block; clear: both;
}
/* 상단영역 시작 */
header{
    width: 100%; height: 108px; float: left; 
    padding:0 16px; box-sizing: border-box; 
    background: #E2D1FF;
    position: relative; top:0; left: 0;
}
h1#header_title{
    position: absolute; bottom: 17px;
    font:bold 16px "Noto Sans KR";
    
}
nav#close{
    width: 24px; height: 24px;
    position: absolute; top:16px;
}
nav#search{
  position: absolute; top:16px; right: 20px;
}
nav#search a:first-child{
    margin-right: 4px;
}
/* 상단영역끝 */
/* 탭바 영역 시작 */
div#tabBar{
    width: 100%;height: 88px;
    background: #EBEBF0; padding: 24px 16px;
    box-sizing: border-box;
    position: fixed; left: 0; bottom: 0;
}
ul#tabBarList{
    width: 100%; display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    text-align: center;
}
ul#tabBarList li a{
 color:  #6B7588;
}
p.tabBar_icon{
    margin-bottom: 8px;
}
p.tabBar_nav{
    font:normal 14px "Noto Sans KR";
}
/* 탭바 영역 끝 */

/* 미디어스크린 */

