 /* 콘텐츠 영역시작 */
section#travelDestination{
    width: 100%; height: auto;
    float: left; 
    padding:0px 16px; box-sizing: border-box; 
}
ul#Destination{
    width: 100%; height:auto; float: left;
}
ul#Destination li{
    width: 100%; height:auto;  border-bottom: solid 1px #000;
    box-sizing: border-box; padding: 32px 0;
    position: relative; top:0; left: 0;
    
   
}
div.Destination_img{
    width:37.5%; height:120px; float: left;
    border-radius: 8px; overflow: hidden;
    margin-right: 24px; position: relative; top:0; left: 0;
}

div.Destination_img a img{
    display: block;
    width: 100%; height: 100%;
}
a.wishList{
    position: absolute; right: 8px;
    bottom:8px;
    color: #fff;
}
div.Destination_t{
    height: 120px;
}
p.Destination_title{
    font:bold 16px "Noto Sans KR";
    margin-bottom: 5px;
}
p.Destination_text{
    font:normal 12px "Noto Sans KR";
    text-align: justify;
    margin-bottom: 5px;
}
p.hashtag{
    font:normal 12px "Noto Sans KR";
    text-align: justify;
    margin-bottom: 5px;
}
p.hashtag a{
    color: #4A678C;
}
p.Destination_btn{
  position: absolute; right: 0; bottom: 8px;  
}
a.red i{
    color: #ff0000;
}
p.Destination_btn a{
    margin-right: 8px;
}
/* 콘텐츠 영역 끝 */
/* 미디어 스크린 시작 */
@media screen and (orientation:landscape){
    div.Destination_img,div.Destination_t{
        height: 250px;
    }
}
